.element__delete {
  background-image: url(../../../images/IconDelete.svg);
  background-color: rgba(0, 0, 0, 0);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 18px 19px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.element__delete:hover {
  opacity: 0.6;
}
