.element__delete {
  background: url(../../../images/Group.svg) center no-repeat;
  color: #fff;
  min-width: 30px;
  min-height: 30px;
  position: relative;
  top: -350px;
  right: -240px;
  border: 0;
  cursor: pointer;
}

.element__delete:hover {
  opacity: 0.5;
}
