.popup__container {
  background-color: #fff;
  border-radius: 10px;
  width: 430px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
  }
}
