.profile__text {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .profile__text {
    grid-area: -2;
    margin-top: 23px;
    text-align: center;
  }
}

@media screen and (max-width: 426px) {
  .profile__text {
    margin: 0;
  }
}