.popup__button-close_image {
  background-image: url(../../../../images/Close_Icon.svg);
  background-color: rgb(0, 0, 0, 0);
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  background-position: center;
  position: absolute;
  border: none;
  cursor: pointer;
}

.popup__button-close_image:hover {
  opacity: 0.6;
}
